{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "color-hex-length": null,
    "declaration-block-trailing-semicolon": "always",
    "selector-pseudo-element-colon-notation": "single",
    "rule-empty-line-before": null,
    "value-list-comma-newline-after": null,
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null,
    "indentation": null,
    "comment-empty-line-before": null,
    "comment-whitespace-inside": null,
    "value-keyword-case": null,
    "media-query-list-comma-newline-after": null,
    "media-feature-name-case": null
  },
  "syntax": "scss",
  "ignoreFiles": [
    "src/lib/storybookUtils/withAppContextDecorator.tsx"
  ]
}
